frontend apache_front
        bind *:80
        default_backend apache_backend_servers
backend apache_backend_servers
        balance roundrobin
        server web1.course-lab.ru 192.168.100.4:80 check
        server web2.course-lab.ru 192.168.100.5:80 check
