#ha1
vrrp_instance KEEPALIVED1 {
        state MASTER
        interface eth0
        virtual_router_id 1
        priority 10
        virtual_ipaddress {
                192.168.100.254 dev eth0 label eth0:1
        }
}
#ha2
vrrp_instance KEEPALIVED1 {
        state MASTER
        interface eth0
        virtual_router_id 1
        priority 5
        virtual_ipaddress {
                192.168.100.254
        }
}
